/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --font-colour-light: #eff1f2;
  --font-colour-dark: #43808d;
  --lightest-colour: #ceecf2;
  --lightest-colour-opacity: #ceecf290;
  --light-colour: #80b4bf;
  --dark-colour: #6fb7bf;
  --darkest-colour: #45858c;
  --darkest-colour-opacity: #45858c40;
  --contrast-colour: #8c7558;
  --contrast-colour-opacity: #8c755802;
}
/* font imports etc */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

p,
span {
  font-family: "Source Serif 4", serif;
  color: var(--font-colour-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
#footer-text,
#creator-link {
  font-family: "lato", sans-serif;
  color: var(--contrast-colour);
}

/* end global font setting */

#app-wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  transition: all 0.3s;
}

#app-header {
  margin-top: calc(75vh / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
  transition: all 0.3s;
}
::placeholder {
  color: var(--light-colour);
}

#weather-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
#title {
  display: flex;
  align-items: center;
  color: var(--contrast-colour);
}
#location,
#get-weather {
  border: none;
  border-radius: 0.5rem;
  padding: 0.25ch 1ch;
  font-size: 1.5rem;
  background-color: var(--font-colour-light);
  color: var(--font-colour-dark);
  transition: all 0.3s;
}
#location {
  box-shadow: 2px 2px var(--lightest-colour);
}
#location:focus {
  outline: none;
  color: var(--font-colour-light);
  background-color: var(--font-colour-dark);
}

#location.invalid {
  background-color: red;
}
#get-weather {
  width: fit-content;
  background-color: var(--darkest-colour);
  color: var(--lightest-colour);
  border: 2px solid var(--contrast-colour);
}

/* loading animation styles */

#loading-spinner {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--contrast-colour);
  box-shadow: 32px 0 var(--contrast-colour), -32px 0 var(--contrast-colour);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: flash 0.5s ease-out infinite alternate;
  display: none;
}

#forecast-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: relative;
  transition: all 0.3s;
}

#todays-forecast,
#tomorrows-forecast,
#future-forecast {
  width: 90%;
  max-width: 750px;
  padding: 0.25rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--lightest-colour-opacity);
  border-radius: 0.5rem;
  transition: all 0.3s;
}

#future-forecast {
  padding: 1rem;
  transition: all 0.3s;
}

.future-forecast_day {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  gap: 0.3rem;
  width: 100%;
  background-color: var(--darkest-colour-opacity);
}

.future-forecast_day-header {
  display: flex;
  flex-direction: column;
}

.future-forecast_day > img {
  height: 33%;
}
#todays-forecast_header,
#tomorrows-forecast_header {
  display: flex;
  justify-content: space-between;
}

#todays-forecast_header-title,
#tomorrows-forecast_header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#todays-forecast_header-icons,
#tomorrows-forecast_header-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#page-footer {
  position: fixed;
  bottom: 0;
  margin-bottom: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--darkest-colour);
  padding: 0.5rem 0;
}

#footer-text {
  color: var(--font-colour-light);
}
#creator-link {
  border: none;
  border-radius: 0.5rem;
  padding: 0.25ch 1ch;
  width: fit-content;
  background-color: var(--darkest-colour);
  color: var(--lightest-colour);
  border: 2px solid var(--contrast-colour);
  transition: all 0.3s;
}

#creator-link:hover,
#creator-link:active,
#get-weather:hover,
#get-weather:active {
  transform: scale(1.1);
  background-color: var(--contrast-colour);
  cursor: pointer;
}

#page-footer.weather-loaded {
  position: static;
}

@keyframes flash {
  0% {
    background-color: var(--contrast-colour-opacity);
    box-shadow: 32px 0 var(--contrast-colour-opacity),
      -32px 0 var(--contrast-colour);
  }
  50% {
    background-color: var(--contrast-colour);
    box-shadow: 32px 0 var(--contrast-colour-opacity),
      -32px 0 var(--contrast-colour-opacity);
  }
  100% {
    background-color: var(--contrast-colour-opacity);
    box-shadow: 32px 0 var(--contrast-colour),
      -32px 0 var(--contrast-colour-opacity);
  }
}
/* end loading animation styles */

@media screen and (min-width: 1000px) {
  #app-header.weather-loaded {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.8rem;
    width: 100%;
  }

  #app-header.weather-loaded > #weather-search {
    flex-direction: row;
  }

  #app-wrapper {
    height: 100vh;
  }
  #forecast-wrapper {
    flex-direction: row;
    padding: 0 5rem;
  }

  #todays-forecast,
  #tomorrows-forecast,
  #future-forecast {
    max-width: none;
  }

  #future-forecast {
    flex-direction: row;
  }

  #page-footer.weather-loaded {
    position: fixed;
  }
}
